.container {
  padding: 50px 20px;
  background-color: #fff5e6;
  text-align: center;
  
}

.title {
  font-size: 36px;
  color: #2d3748;
  margin-bottom: 30px;
  font-weight: 600;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.section {
  margin-bottom: 30px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.sectionTitle {
  font-size: 24px;
  color: #2d3748;
  margin-bottom: 10px;
}

.sectionText {
  font-size: 16px;
  color: #4a5568;
  line-height: 1.6;
}